# 浏览器类型 (msedge/chrome)
BROWSER=msedge

# 是否使用无头模式 (true/false)
# 若设置为 true ，浏览器窗口不会出现，适合想要无感挂机的用户
# 若设置为 false，浏览器窗口会正常出现，适合想要自行确认进度 / 程序运行是否正常的用户
# 请注意不要手动关闭浏览器 / 杀掉进程，否则程序会直接终止
HEADLESS=false

# 课程链接页面URL
VIDEO_LIST_URL=https://moodle.scnu.edu.cn/course/view.php?id=YOUR_COURSE_ID
